.loginContainer{
    background-image: url('/assets/img/msnbg.jpg');
    background-size: contain;
    background-repeat: no-repeat;
}
.btn {
    background: rgba(73,155,234,1);
    background: -o-linear-gradient(top, rgba(183,222,237,1) 0%, rgba(113,206,239,1) 50%, rgba(33,180,226,1) 51%, rgba(183,222,237,1) 100%);
    display: inline-block;
    border-radius: 15px 15px 15px 15px;
    -moz-border-radius: 15px 15px 15px 15px;
    -webkit-border-radius: 15px 15px 15px 15px;
    border: 0px solid #000000;
}